{% extends "front.html.twig" %}

{% block body %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset("css/owl.carousel.css") }}">
        <link rel="stylesheet" href="{{ asset("css/animate.custom.css") }}">
        <link rel="stylesheet" href="{{ asset("css/magnific-popup.css") }}">
        <link rel="stylesheet" href="{{ asset("css/style2.css") }}">
        <link rel="stylesheet" href="{{ asset("css/skins/default2.css") }}">
        <link href=http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700 rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{{ asset('backOffice/css/vendor.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('backOffice/css/plugins.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('backOffice/css/pratham.min.css') }}">
    {% endblock %}



    <!-- CORE : begin -->
    <div id="core" class="page-contact-us">

        <!-- PAGE HEADER : begin -->
        <div class="page-header has-nav">
            <div class="container">
                <div class="page-header-inner">
                    <h1>Spam</h1>
                    <nav class="page-header-nav">
                        <ul class="custom-list clearfix">
                            <li ><a href="{{ path('my_app_user_client') }}">Home</a></li>
                            <li class="active"><a href="{{ path('message_byUserFI') }}">My Inbox</a></li>
                            <li ><a href="{{ path('chat_homepageF') }}">Chat rooms</a></li>
                            <li><a href="{{ path('favoris_showF') }}">My Favourites</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <!-- PAGE HEADER : end -->

        <!-- CONTENT SECTION : begin -->
        <div class="container">
            <body class="compose-modal">
            <div class="prtm-wrapper">
                <div class="prtm-main">
                    <div class="prtm-content-wrapper">
                        <div class="prtm-content">
                            <div class="mail-style">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-12 mail-inbox"><a class="btn btn-danger btn-lg btn-block mrgn-b-md"  href="{{ path('message_newF') }}">Compose</a>
                                        <div class="prtm-full-block pad-tb-sm overflow-wrapper">
                                            <div class="mrgn-b-md">
                                                <ul class="email-tabs nav nav-tabs tabs-left">
                                                    <li >
                                                        <a data-toggle="tab" href="{{ path('message_byUserFI') }}" aria-expanded="true">
                                                            <span class="mrgn-r-sm"><i class="fa fa-inbox"></i></span>
                                                            Inbox <span class="badge badge-danger pull-right">{{ count }}</span>
                                                        </a>
                                                    </li>

                                                    <li class="active"><a data-toggle="tab" href="{{ path('message_byUserFS') }}"
                                                           aria-expanded="false"><span class="mrgn-r-sm"><i
                                                                        class="fa fa-rocket"></i></span> Spam</a>
                                                    </li>

                                                    <li> <a data-toggle="tab" href="{{ path('message_byUserFT') }}"
                                                            aria-expanded="false"><span class="mrgn-r-sm"><i
                                                                        class="fa fa-trash"></i></span> Trash</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="email-labels pad-all-sm">
                                                <h5 class="base-dark">Labels</h5>
                                                <ul class="list-unstyled mrgn-all-none">
                                                    <li class="mrgn-b-xs"><a class="gray" href="javascript:;">
                                                            Work
                                                            <span class="label-info pull-right square-15"> </span>
                                                        </a></li>
                                                    <li class="mrgn-b-xs"><a class="gray" href="javascript:;">
                                                            Private
                                                            <span class="label-warning pull-right square-15"> </span>
                                                        </a></li>
                                                    <li class="mrgn-b-xs"><a class="gray" href="javascript:;">
                                                            Client
                                                            <span class="label-success pull-right square-15"> </span>
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-lg-8 col-md-8 col-sm-12 mail-content">
                                        <div class="tab-content">

                                            <div id="email-inbox" class="tab-pane active">
                                                <div class="prtm-full-block pad-tb-sm">
                                                    <div class="table-responsive pad-left-tab pad-right-tab">
                                                        <table class="table table-hover dataTable mailTable">
                                                            <thead>
                                                            <tr>
                                                                <th>&nbsp;</th>
                                                                <th><p style="color: white">From</p></th>
                                                                <th><p style="color: white">Label</th>
                                                                <th><p style="color: white">Message</th>
                                                                <th><p style="color: white">Date</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for message in messages %}
                                                                {% set i =0 %}
                                                                {% if message.isRead==0 %}
                                                                    {%  set i=i+1 %}
                                                                {% endif %}
                                                                {% if message.dossier=='Spam' %}

                                                                    <tr class="read">
                                                                        {% if i==0 %}
                                                                            <td></td>
                                                                        {% else %}
                                                                            <td><span class="badge badge-danger pull-left">{{ i }}</span></td>
                                                                        {% endif %}
                                                                        <td> {{ message.np }}</td>
                                                                        {% if message.label =='Work' %}
                                                                            <td>
                                                                                <span class="label label-info btn-rounded">{{ message.label }}</span>
                                                                            </td>
                                                                        {% elseif message.label =='Private' %}
                                                                            <td>
                                                                                <span class="label label-warning btn-rounded">{{ message.label }}</span>
                                                                            </td>
                                                                        {% else %}
                                                                            <td>
                                                                                <span class="label label-success btn-rounded">{{ message.label }}</span>
                                                                            </td>
                                                                        {% endif %}
                                                                        <td style="max-width: 100px;
                                                                    overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                white-space: nowrap;"><a type="submit" name="discussion" href="{{ path('message_discussionF', { 'id': message.id }) }}" class="gray disc">
                                                                                {{ message.contenu|raw }}
                                                                            </a></td>
                                                                        <td class="text-right"> {{ message.date|date("m/d") }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="email-pager pad-l-xs pad-b-md"></div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </body>
        </div>
        <!-- CONTENT SECTION : end -->

    </div>
    <!-- CORE : end -->

{% endblock %}

