{% extends "back.html.twig" %}

    {% block body %}
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>

            <body class="compose-modal">
            <div class="prtm-wrapper">
                <div class="prtm-main">
                    <div class="prtm-content-wrapper">
                        <div class="prtm-content">
                            <div class="prtm-page-bar">
                                <ul class="breadcrumb">
                                    <li class="breadcrumb-item text-uppercase">
                                        <h3>Mail Service</h3></li>
                                    <li class="breadcrumb-item"><a href="{{ path('my_app_user_homepageB') }}">Home</a></li>
                                    <li class="breadcrumb-item"><a href="{{ path('message_byUser') }}" class="active">Mail Service</a></li>
                                </ul>
                            </div>
                            <div class="mail-style">
                                <div class="row">
                                    <div class="col-lg-2 col-md-4 col-sm-12 mail-inbox"><a class="btn btn-danger btn-lg btn-block mrgn-b-md"  href="{{ path('message_new') }}">Compose</a>
                                        <div class="prtm-full-block pad-tb-sm overflow-wrapper">
                                            <div class="mrgn-b-md">
                                                <ul class="email-tabs nav nav-tabs tabs-left">
                                                    <li class="active">
                                                        <a data-toggle="tab" href="#email-inbox" aria-expanded="true">
                                                            <span class="mrgn-r-sm"><i class="fa fa-inbox"></i></span>
                                                            Inbox <span class="badge badge-danger pull-right">{{ count }}</span>
                                                        </a>
                                                    </li>
                                                    <li><a data-toggle="tab" href="#starred-emails"
                                                           aria-expanded="false"><span class="mrgn-r-sm"><i
                                                                        class="fa fa-rocket"></i></span> Spam</a></li>
                                                    <li> <a data-toggle="tab" href="#emails-draft" aria-expanded="false"><span class="mrgn-r-sm"><i class="fa fa-trash"></i></span> Trash</a> </li>
                                                </ul>
                                            </div>
                                            <div class="email-labels pad-all-sm">
                                                <h5 class="base-dark">Labels</h5>
                                                <ul class="list-unstyled mrgn-all-none">
                                                    <li class="mrgn-b-xs"><a class="gray" href="javascript:;">
                                                            Work
                                                            <span class="label-info pull-right square-15"> </span>
                                                        </a></li>
                                                    <li class="mrgn-b-xs"><a class="gray" href="javascript:;">
                                                            Private
                                                            <span class="label-warning pull-right square-15"> </span>
                                                        </a></li>
                                                    <li class="mrgn-b-xs"><a class="gray" href="javascript:;">
                                                            Client
                                                            <span class="label-success pull-right square-15"> </span>
                                                        </a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-10 col-md-8 col-sm-12 mail-content">
                                        <div class="tab-content">
                                            <div id="email-inbox" class="tab-pane fade in active">
                                                <div class="prtm-full-block pad-tb-sm">
                                                    <div class="table-responsive pad-left-tab pad-right-tab">
                                                        <table class="table table-hover dataTable mailTable">
                                                            <thead>
                                                            <tr>
                                                                <th>&nbsp;</th>
                                                                <th>From</th>
                                                                <th>Label</th>
                                                                <th>Message</th>
                                                                <th>Date</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for message in messages %}
                                                                {% set i =0 %}
                                                                {% if message.isRead==0 %}
                                                            {%  set i=i+1 %}
                                                            {% endif %}
                                                            {% if message.dossier=='Inbox' %}

                                                                <tr class="read">
                                                                    {% if i==0 %}
                                                                    <td></td>
                                                                    {% else %}
                                                                    <td><span class="badge badge-danger pull-left">{{ i }}</span></td>
                                                                    {% endif %}
                                                                    <td> {{ message.np }}</td>
                                                                    {% if message.label =='Work' %}
                                                                        <td>
                                                                            <span class="label label-info btn-rounded">{{ message.label }}</span>
                                                                        </td>
                                                                    {% elseif message.label =='Private' %}
                                                                        <td>
                                                                            <span class="label label-warning btn-rounded">{{ message.label }}</span>
                                                                        </td>
                                                                    {% else %}
                                                                        <td>
                                                                            <span class="label label-success btn-rounded">{{ message.label }}</span>
                                                                        </td>
                                                                    {% endif %}
                                                                    <td style="max-width: 100px;
                                                                    overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                white-space: nowrap;"><a type="submit" name="discussion" href="{{ path('message_discussion', { 'id': message.id }) }}" class="gray disc">
                                                                            {{ message.contenu|raw }}
                                                                        </a></td>
                                                                    <td class="text-right"> {{ message.date|date("m/d") }}</td>
                                                                </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    
                                                    <div class="email-pager pad-l-xs pad-b-md"></div>
                                                </div>
                                            </div>
                                            <div id="starred-emails" class="tab-pane fade in">
                                                <div class="prtm-full-block pad-tb-sm">
                                                    <div class="table-responsive pad-left-tab pad-right-tab">
                                                        <table class="table table-hover dataTable mailTable">
                                                            <thead>
                                                            <tr>
                                                                <th>&nbsp;</th>
                                                                <th>From</th>
                                                                <th>Label</th>
                                                                <th>Message</th>
                                                                <th>Date</th>
                                                            </tr>
                                                            </thead>

                                                            <tbody>
                                                            {% for message in messages %}
                                                                {% if message.dossier=='Spam' %}
                                                                <tr class="read">
                                                                    <td>&nbsp;</td>
                                                                    <td> {{ message.np }}</td>
                                                                    {% if message.label =='Work' %}
                                                                        <td>
                                                                            <span class="label label-info btn-rounded">{{ message.label }}</span>
                                                                        </td>
                                                                    {% elseif message.label =='Private' %}
                                                                        <td>
                                                                            <span class="label label-warning btn-rounded">{{ message.label }}</span>
                                                                        </td>
                                                                    {% else %}
                                                                        <td>
                                                                            <span class="label label-success btn-rounded">{{ message.label }}</span>
                                                                        </td>
                                                                    {% endif %}
                                                                    <td style="max-width: 100px;
                                                                    overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                white-space: nowrap;"><a href="{{ path('message_discussion', { 'id': message.id }) }}"
                                                                                         class="gray">{{ message.contenu|raw }}</a>
                                                                    </td>
                                                                    <td class="text-right"> {{ message.date|date("m/d") }}</td>
                                                                </tr>
                                                            {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="email-pager pad-l-xs pad-b-md"></div>
                                                </div>
                                            </div>
                                            <div id="emails-draft" class="tab-pane fade in">
                                                <div class="prtm-full-block pad-tb-sm">
                                                    <div class="table-responsive pad-left-tab pad-right-tab">
                                                        <table class="table table-hover dataTable mailTable">
                                                            <thead>
                                                            <tr>
                                                                <th>&nbsp;</th>
                                                                <th>From</th>
                                                                <th>Label</th>
                                                                <th>Message</th>
                                                                <th>Date</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            {% for message in messages %}
                                                                {% if message.dossier=='Trash' %}
                                                                    <tr class="read">
                                                                        <td>&nbsp;</td>
                                                                        <td> {{ message.np }}</td>
                                                                        {% if message.label =='Work' %}
                                                                            <td>
                                                                                <span class="label label-info btn-rounded">{{ message.label }}</span>
                                                                            </td>
                                                                        {% elseif message.label =='Private' %}
                                                                            <td>
                                                                                <span class="label label-warning btn-rounded">{{ message.label }}</span>
                                                                            </td>
                                                                        {% else %}
                                                                            <td>
                                                                                <span class="label label-success btn-rounded">{{ message.label }}</span>
                                                                            </td>
                                                                        {% endif %}
                                                                        <td style="max-width: 100px;
                                                                    overflow: hidden;
                                                                text-overflow: ellipsis;
                                                                white-space: nowrap;"><a href="{{  path('message_discussion', { 'id': message.id }) }}"
                                                                                         class="gray">{{ message.contenu|raw }}.</a>
                                                                        </td>
                                                                        <td class="text-right"> {{ message.date|date("m/d") }}</td>
                                                                    </tr>
                                                                {% endif %}
                                                            {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                    <div class="email-pager pad-l-xs pad-b-md"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </body>
    {% endblock %}


