{% extends 'back.html.twig' %}
{% block body %}
    {% for flash_message in app.session.flashbag.get('notice') %}
        <div class="alert alert-success"><center>{{ flash_message }}</center></div>
    {% endfor %}
    <div class="data-table-style">
        <div class="prtm-block pos-relative">
            <div class="prtm-block-title mrgn-b-lg">
                <div class="caption">
                    <center><h3 class="text-capitalize">Liste des Proprietes</h3></center>
                </div>
                <div class="contextual-link">
                    <div class="dropdown display-ib">
                        <a href="javascript:;" class="mrgn-l-xs" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" aria-expanded="false"><i class="fa fa-cog fa-lg base-dark"></i></a>
                        <ul class="dropdown-menu dropdown-arrow dropdown-menu-right">
                            <li>
                                <a href="javascript:;"> <i class="fa fa-eye"></i> <span class="mrgn-l-sm">View</span> </a>
                            </li>

                            <li>
                                <a href="javascript:;"> <i class="fa fa-trash-o"></i> <span class="mrgn-l-sm">Delete</span> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="prtm-content-wrapper loaded-block">
                <div class="prtm-content">
                    <div class="dataTables_wrapper">
                        <div class="table-responsive">

                            <table class="table table-hover dataTable" data-table="table-button" data-buttons="['copy', 'csv', 'excel', 'pdf', 'print']">
                                <thead>
                                <tr>
                                    <th>Utilisateur</th>
                                    <th>Type de logement</th>
                                    <th>Categorie</th>
                                    <th>Pays</th>
                                    <th>Ville</th>
                                    <th>Rue</th>
                                    <th>Prix.</th>
                                    <th>Description</th>
                                    <th>Supp.</th>
                                </tr>
                                </thead>
                                {% for propriete in proprietes %}
                                    <tr>
                                        <td>{{ propriete.idU }}</td>
                                        <td>{{ propriete.typepropriete }}</td>
                                        <td>{{ propriete.categoriepropriete }}</td>
                                        <td>{{ propriete.pays }}</td>
                                        <td>{{ propriete.ville }}</td>
                                        <td>{{ propriete.rue }}</td>
                                        <td>{{ propriete.prix }}</td>
                                        <td>{{ propriete.description }}</td>
                                        <td>
                                            <a class="btn btn-danger" href="{{ path('propriete_supprimer_back',{id:propriete.idP})}}" onclick="return confirm('etes vous sur de vouloir supprimer cet avis ?')"><i class="fa fa-trash-o"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </table>
                        </div>
                    </div>
                </div>
            </div></div></div>
{% endblock %}